<h1>Admin Dashboard</h1>
<p>Welcome to the jungle!</p>

<div class="catagories-count-admin">
  <h3> Number of Categories: </h3>
  <h3><%= @category_count %></h3>
</div>
<div class="product-count-admin">
  <h3> Number of Products: </h3>
  <h3><%= @product_count %></h3>
</div>